#header-wrapper {
  background: #fff;
  @include box-shadow($shadow);
  @include breakpoint($br-tablet) {
    margin-bottom: 2em;
  }
}
.logo, .plenum, .banner {
  margin-top: 1em;
  margin-bottom: 1em;
}
.logo a {
  display: block;
}
