.node-teaser img {
  float: left;
  margin: 0 1em 0.5em 0;
}
.field-name-field-news-bild {
  float: left;
  margin: 0 2em 1em 0;
  .field-type-taxonomy-term-reference {
    width: 250px;
    font-size: .8em;
  }
}
.label-above, .label-inline {
  font-weight: bold;
}
.label-inline {
  display: inline;
}
.field-name-field-koordinaten {
  margin-top: 1em;
}
.news {
  @include box-shadow($shadow);
  aside {
    overflow: hidden;
    border-top: 1px solid #ddd;
    clear: both;
    .field {
      float: left;
      margin-right: 1em;
      padding: 1em;
      position: relative;
      max-width: 220px;
    }
    .more-link {
      float: right;
    }
  }
}
