span.follow-link-wrapper a {
  float: right;
  text-indent: -999em;
}
a.follow-link {
    height: 50px;
    width: 44px;
    display: block;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 5px;
    @include filter(grayscale(100%));
}
a.follow-link:hover {
    -webkit-filter: none;
    filter: none;
}
a.follow-link-this-site {
    background-image: url("/sites/all/themes/attac/img/wpzoom38/icon-feed.png") !important;
}
a.follow-link-youtube {
    background-image: url("/sites/all/themes/attac/img/wpzoom38/icon-youtube.png") !important;
}
a.follow-link-twitter {
    background-image: url("/sites/all/themes/attac/img/wpzoom38/icon-twitter.png") !important;
}
a.follow-link-facebook {
    background-image: url("/sites/all/themes/attac/img/wpzoom38/icon-facebook.png") !important;
}