body {
  background: #f0f0f0;
  font-family: Ubuntu, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: Roboto, Arial, sans-serif;
}
h1, h2 {
  font-weight: normal;
}
#footer-wrapper {
  background: #0074AA;
  padding: 1em 0;
  footer {
    color: #fff;
    a {
      color: #fff;
    }
  }
}
.btn-flat {
    background: none repeat scroll 0 0 #f7941d;
    @include border-radius($border-radius);
    @include box-shadow($shadow-strong);
    color: #fff;
    padding: 1em 0;
    margin: .5em;
    width: auto;
    letter-spacing: .5px;
}
.btn-flat:hover {
  text-decoration: none;
  color: #fff;
  background: $blue;
}
